* {
    margin: 0;
}

header { 
  display: flex;
  color: white;
  background-image: linear-gradient(to right, blue , indigo);
  width: 100%;
  height: auto;
  padding: 5px;
  justify-content: center;
}